# For full configuration instruction, see:
# https://cloud.google.com/appengine/docs/flexible/nodejs/configuring-your-app-with-app-yaml

runtime: php
env: flex

service: default

# This sample incurs costs to run on the App Engine flexible environment.
# The settings below are to reduce costs during testing and are not appropriate
# for production use. For more information, see:
# https://cloud.google.com/appengine/docs/flexible/python/configuring-your-app-with-app-yaml
manual_scaling:
  instances: 1

resources:
  cpu: 1
  memory_gb: 0.5
  disk_size_gb: 10

runtime_config:
  document_root: web
  composer_flags: --no-scripts --dev --prefer-dist

skip_files:
- .env
- .idea/
- .git/
- runtime/
- web/assets/

env_variables:
  # framework
  YII_DEBUG: false
  YII_ENV: prod

  # database
  MYSQL_DSN: mysql:unix_socket=/cloudsql/<instance-connection-name>;dbname=<dbname>
  MYSQL_USERNAME: <username>
  MYSQL_PASSWORD: <password>

#beta_settings:
#    cloud_sql_instances: "<instance-connection-name>"



